In [1]:
from pyspark import SparkContext 
sc = SparkContext()

In [2]:
# read lines of the catalogue index into an RDD, filtering out `None' values
rdd = sc.textFile('/Users/nc374/datacourses/spark_training/pgcat/pgcat.json/part-00000').filter(lambda x: x != 'None')

In [3]:
# return the first 2 elements in the RDD
rdd.take(2)

['{"id": 103, "author": "Verne, Jules", "book": "http://www.gutenberg.org/ebooks/103", "title": "Around the World in Eighty Days", "lang": "en"}',
 '{"id": 1038, "author": "Raleigh, Walter Alexander, Sir", "book": "http://www.gutenberg.org/ebooks/1038", "title": "Style", "lang": "en"}']

In [4]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [5]:
#turn JSON data into a dataframe
df1 = sqlContext.read.json(rdd)

In [6]:
# inspect dataframe
df1.show()

+--------------------+--------------------+-----+----+--------------------+
|              author|                book|   id|lang|               title|
+--------------------+--------------------+-----+----+--------------------+
|        Verne, Jules|http://www.gutenb...|  103|  en|Around the World ...|
|Raleigh, Walter A...|http://www.gutenb...| 1038|  en|               Style|
|  Richardson, Samuel|http://www.gutenb...|10462|  en|Clarissa Harlowe;...|
|Wodehouse, P. G. ...|http://www.gutenb...|10586|  en|     Mike and Psmith|
|     Godwin, William|http://www.gutenb...|10597|  en|Four Early Pamphlets|
+--------------------+--------------------+-----+----+--------------------+

In [7]:
# look at first row in dataframe (returns Row object)
df1.first()

Row(author='Verne, Jules', book='http://www.gutenberg.org/ebooks/103', id=103, lang='en', title='Around the World in Eighty Days')

In [8]:
# register dataframe as table for SQL style querying 
df1.createOrReplaceTempView("pgcat")
df1.show()

+--------------------+--------------------+-----+----+--------------------+
|              author|                book|   id|lang|               title|
+--------------------+--------------------+-----+----+--------------------+
|        Verne, Jules|http://www.gutenb...|  103|  en|Around the World ...|
|Raleigh, Walter A...|http://www.gutenb...| 1038|  en|               Style|
|  Richardson, Samuel|http://www.gutenb...|10462|  en|Clarissa Harlowe;...|
|Wodehouse, P. G. ...|http://www.gutenb...|10586|  en|     Mike and Psmith|
|     Godwin, William|http://www.gutenb...|10597|  en|Four Early Pamphlets|
+--------------------+--------------------+-----+----+--------------------+

In [9]:
# query dataframe (Spark >=2.0)
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
df2 = sqlContext.sql("SELECT id, title, author FROM pgcat WHERE lang='en' LIMIT 5")

In [10]:
df2.show()

+-----+--------------------+--------------------+
|   id|               title|              author|
+-----+--------------------+--------------------+
|  103|Around the World ...|        Verne, Jules|
| 1038|               Style|Raleigh, Walter A...|
|10462|Clarissa Harlowe;...|  Richardson, Samuel|
|10586|     Mike and Psmith|Wodehouse, P. G. ...|
|10597|Four Early Pamphlets|     Godwin, William|
+-----+--------------------+--------------------+